.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

main {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .container {
        flex-direction: row;
        gap: 30px;
    }

    main {
        width: 50%;
    }
}